<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
		{% if user.is_authenticated %}
	      <li class="nav-item">
	      	<a class="nav-link" href="{% url 'logout' %}">Logout</a>
	      </li>
	     <li class="nav-item">
	      	<a class="nav-link" href="#">{{user}}</a>
	      </li>
	    {% else %}
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'signup' %}">Register</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'login' %}">Login</a>
	      </li>
	    {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <!-- start display message -->
 	{% if messages %}
 	<div class="card bg-success text-white">
    	{% for message in messages %}
      		<div class="card-body">Forum was successfully created</div>
      	{% endfor %}
  	</div>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>