{% extends "base.html" %}

{% load humanize %}

{% block title %} {{object.title}} {% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>{{object.title}}</h1>
  {% if request.user == object.user %}
  <a href="{% url 'forum-edit' object.id %}">Edit</a>
  <form method="post" action="{% url 'forum-delete' object.id %}">
  	{% csrf_token %} <input type="submit" value="Delete">
  </form>
  {% endif  %}
  <p style="font-size: 20px;">{{ object.desc }}</p>
  - <span><i>{{object.created_at | naturaltime}}</i></span>
  <hr>
	<!-- Display comment -->
  {% for comment in object.comment_set.all %}
  	<p>
  		{{comment.desc}}
	  	{% if request.user == comment.user %}
	  		<a href="{% url 'edit-comment' comment.id %}">Edit</a>
	  		<form method="post" action="{% url 'delete-comment' comment.id %}">
	  			{% csrf_token %}
	  			<button class="btn btn-danger" type="submit">Delete</button>
	  		</form>
	  	{% endif %}
		<br><span style="font-size: 12px;"><i>by {{comment.user}}</i></span>
  	</p>
  {% endfor %}

	<form method="post" action="{% url 'add-comment' object.id %}">
	  	{% csrf_token %}
	  	{{ form_comment }}
	  	<input type="submit" name="Add Comment">
	</form>
</div>
{% endblock %}